force-app/main/default/flows/Gemini_2_0_API_Call_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Gemini_API_Call</name>
        <label>Gemini API Call</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Gemini_API_Call</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Prompt_Outputs_to_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiKey</name>
            <value>
                <elementReference>Gemini_API_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>includeGoogleSearch</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputPrompt</name>
            <value>
                <elementReference>search_query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>gemini-2.0-flash</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Gemini_API_Call</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This prompt template ensures rich text formatting for every answer using the Gemini 2.0 API.</description>
        <name>Rich_Text_Formatting</name>
        <label>Rich Text Formatting</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>Gemini_2_0_Answer_Formatter</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Gemini_Response</name>
            <value>
                <elementReference>Gemini_Response</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:search_query</name>
            <value>
                <elementReference>search_query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Gemini_Metadata</name>
            <value>
                <elementReference>Gemini_Response_Metadata</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Gemini_2_0_Answer_Formatter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>final_output_message</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Prompt_Outputs_to_Variables</name>
        <label>Assign Prompt Outputs to Variables</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Gemini_Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gemini_API_Call.responseText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gemini_Response_Metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gemini_API_Call.responseMetadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rich_Text_Formatting</targetReference>
        </connector>
    </assignments>
    <description>This flow makes an API call to Gemini 2.0 to assist with live web research.</description>
    <environments>Default</environments>
    <interviewLabel>Gemini {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gemini 2.0 API Call Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gemini_API_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the final message to be returned from the User&apos;s query.</description>
        <name>final_output_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the Gemini API Key</description>
        <name>Gemini_API_Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REPLACE_WITH_GEMINI_API_KEY</stringValue>
        </value>
    </variables>
    <variables>
        <description>This is the response from Gemini API Call</description>
        <name>Gemini_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the metadata coming from Gemini API Call.</description>
        <name>Gemini_Response_Metadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the search query that is passed to the Gemini API.</description>
        <name>search_query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
